body {
  margin: 0;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: #111;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

section h1 {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
}

.parallax h1 {
  width: 60%;
  font-size: 3rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1080/720");
  background-size: cover;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
    width: 20em;
    height: 30em;
    /* background-color: rgba(0, 0, 0, 0.5); */
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 5rem;
  }
  .parallax h1 {
    font-size: 4rem;
  }

  .scrolling-wrapper {
    margin-left: 0.3em;
  }
}