.navbar__container {
  position: sticky;
  top: 0;
  width: 100%;
  /* background: rgb(241, 90, 138, 1); */
  background: #282a36;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  height: 3.5em;
  z-index: 199;
}

.navbar-top__menu a {
  color: rgb(244, 244, 244);
}

.navbar-top__menu a:hover {
  color: #282a36;
  text-decoration: underline;
}

.navbar-top__menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

.navbar-top__menu li{
  margin-top: 1.25em
}
