.navbar__container {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgb(241, 90, 138, 0.8);
  height: 3.5em;
  z-index: 199;
}

.navbar-top__menu a {
  color: #fff;
}

.navbar-top__menu a:hover {
  color: #282a36;
  text-decoration: underline;
}

.navbar-top__menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

.navbar-top__menu li{
  margin-top: 1.25em
}
