.no-parallax {
  background-color: rgb(40, 42, 54);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.parallax {
  display: flex;
  flex-direction: column;
}

.no-parallax img {
  display: none;
}

.parallax img {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1080/720");
  background-size: cover;
}

@media screen and (min-width: 768px) {

  .parallax h1 {
    font-size: 4rem;
  }

  .parallax img {
    height: 25em;
  }
}