.no-parallax {
  background-color: #282a36;
  z-index: 999;
}

.no-parallax p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.parallax {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.parallax p {
  text-align: center;
  font-weight: 300;
  max-width: 70%;
}

.parallax h1 {
  width: 60%;
  font-size: 3rem;
}

.no-parallax img {
  display: none;
}

.parallax img {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1080/720");
  background-size: cover;
}

@media screen and (min-width: 768px) {

  .parallax h1 {
    font-size: 4rem;
  }

  .parallax img {
    height: 25em;
  }
}