.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
    width: 22em;
    height: 30em;
    /* background-color: rgba(253, 251, 251, 0.5); */
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.card h2 {
  font-weight: 100;
  color: #f15a8a;
}


.card {
  width: 10em;
  height: 7em;
  background-color: rgba(253, 251, 251, 0.5);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em
}


@media screen and (min-width: 768px) {
  .scrolling-wrapper {
    margin-left: 0.3em;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em
  }

}